body{
    background: white;
    margin: 0;
    padding: 0;
}

nav ul {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li{
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 40px;
    text-align: center;

}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color:red;
}
header h1{
    text-align: center;
}
header p{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color:black;
}

article header p{
    font-style: italic;
}

main{
    padding-left: 30px;
}
 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
 }
 head {
    text-align: center;
    color:rgb(192, 208, 255);
    font-size: 36px;

 }
 section{
    margin: 20px;
    padding: 20px;
    background-color:rgb(239, 250, 215);
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0, 0 ,0 , 0.1);
 }