body{
    background-color: white;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: rgb(0, 200, 255);
    margin: 0;
    padding:0;
    text-align: center;
}

nav ul li{
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color:red;
}
header h1{
    text-align: center;
}

article header{
    font-style: italic;
}
main{
    padding-left: 30px;
}